* {

}

body {

}

header {

}

.jumbotron {
    text-align: center;
}

nav {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.topmenu li {
    list-style: none;
    float: left;
}